body {
  background-color: #eae5e5;
  margin: 0;
}

header {
  /* background-color: #58805F;     */
  background: url("https://imgur.com/HcgNUIQ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 32px 64px;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 40px 70px;
}

.profile {
  width: 20%;
  height: 20%;
  border: 2px solid #a6664b;
  border-radius: 50%;
  margin-bottom: -85px;
}

.persona {
  display: inline-block;
  margin-left: 16px;
  color: white;
}

.persona p {
  color: white;
  text-shadow: 0.5px 0.1px gray;
  display: inline-block;
  background-image: linear-gradient(to right, #3f6329, #37bcd9);
  opacity: 0.8;
  padding: 10px;
  border-radius: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Lora", serif;
}

h1 {
  font-family: "Lora", serif;
  font-weight: normal;
  font-size: 56px;
  text-shadow: 0.5px 0.1px black;
}

h1 span {
  font-weight: 600;
}

p {
  margin: 10px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #1f0e2b;
}

.shortColumn {
  margin-top: 36px;
  width: 288px;
}

.line {
  height: 3px;
  width: 100px;
  margin-top: 4px;
  background-color: #a6664b;
}

.imagem {
  width: 30px;
  height: 30px;
  background-color: #146277;
  padding: 2px;
}

.content {
  display: inline-block;
  margin-left: 15px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin: 32px 0;
  align-items: center;
  height: 50px;
}

.period {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  color: #212e40;
}

h3 {
  font-size: 28px;
}

h4 {
  font-weight: normal;
}

.formation {
  margin-top: 60px;
}

.bigColumn {
  margin-left: 24px;
}

.habilities h2 {
  font-size: 44px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #d6d1cf;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 7px;
}

.habilities li {
  display: block;
}

.habilities p {
  color: black;
}

.lifedocard {
  height: 5px;
  width: 250px;
  background-color: #b7b7b7;
}

.lifedocard p {
  height: 5px;
  background-color: #146277;
}

.lifeequipe,
.lifeconflito {
  width: 200px;
}

.lifehtml,
.lifecss,
.lifetempo,
.lifedacom {
  width: 150px;
}

.java {
  width: 100px;
}

.lifedosql,
.lifedonode {
  width: 50px;
}

.react,
.lifedojwt,
.lifedorest {
  width: 0px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
}

.project {
  background-color: #d6d1cf;
  width: 410px;
  display: grid;
  margin-right: 30px;
  padding: 20px;
  border-radius: 7px;
}

.imgproject1 {
  height: 300px;
  width: 300px;
  justify-self: center;
}

.imgproject2 {
  height: 300px;
  width: 100px;
  margin-left: 40px;
  justify-self: center;
}

.project p,
h3 {
  margin-bottom: 20px;
  font-weight: normal;
}

.project div {
  display: flex;
  justify-content: center;
}

a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #134334;
  background-color: #00b7e0;
  text-decoration: none;
  border-radius: 5px;
  width: 180px;
  height: 60px;
  margin-top: 30px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  background-color: #30db27;
  transition: 0.7s;
  opacity: 0.8;
  color: black;
}

footer {
  font-family: "Open Sans", sans-serif;
  color: #b7b7b7;
  background-color: #134334;
  padding: 40px;
  text-align: center;
}
